<div class="center">
	<h3>Figure 2</h3>
	<div class="figure">
		<div class="leftSide">
			<div class="stats">
				<div class="stat">
					<h1 class="bigNumber">50</h1>
					<p>particles per serving of  commercially-cultured oysters</p>
				</div>
				<div class="stat">
					<h1 class="bigNumber">90</h1>
					<p>particles per serving of  commercially-cultured mussels</p>
				</div>
				<div class="stat">
					<p>Particles present in</p>
					<h1 class="bigNumber">12%</h1>
					<p>of freshwater fish</p>
				</div>
				<div class="stat">
					<p>Up to</p>
					<h1 class="bigNumber">32</h1>
					<p>particles per cubic meter of Great Lakes tributary water</p>
				</div>
				<div class="stat">
					<h1 class="bigNumber">13,832</h1>
					<p>particles per square meter of river sediment</p>
				</div>
				<div class="stat">
					<h1 class="bigNumber">43,000</h1>
					<p>particles per square kilometer of the Great Lakes water</p>
				</div>
			</div>
		</div>
		<div class="rightSide">
			<div class="pics">
				<img src="../../../images/oyster.png"/>
			</div>
			<div class="pics">
				<img src="../../../images/fish.png"/>
			</div>
			<div id="stream" class="pics">
				<img src="../../../images/streamicon.png"/>
			</div>
			<div id="stream" class="pics">
				<img src="../../../images/greatlakes.png"/>
			</div>
		</div>
	</div>
</div>