<div class="center">
	<h3>Welcome</h3>
	<p>Nam eros nibh, vehicula id lectus eu, cursus mattis nunc. Aenean dui dolor, suscipit vitae ex nec, dignissim tincidunt massa.</p>
	<div class="figure"></div>
</div>