<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" preserveAspectRatio="xMinYMin meet" viewBox="0 0 460 460" onload="init(evt)">
  <style>
  text {
      cursor: default;
      font-family: Tahoma, Geneva, sans-serif;
    }
.unrolled {
  fill: white;
  stroke:#D3D3D3;
}
.rolled {
  fill:#ECECEC;
  stroke:#D3D3D3;
}

</style>
<g id='beaker' transform='translate(35,10)'>
  <g id="Fiber" transform='translate(0,141.519797527948)'>
    <rect width="100" height="283.480202472052" fill="#26b9da" opacity="0.8" onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id="Fiber-rect"/>
    <path stroke='#0b516b' id='Fiber-path' class='rolled'/>
    <text x="100" y="70" text-anchor="begin" dx="10" dy="0.33em" id='Fiber-text'>Fibers</text>
    <text x="100" y="70" text-anchor="begin" dx="20" dy="40" font-size="2em" id='Fiber-pct'> </text>
    <text x="100" y="180" text-anchor="begin" dx="15" dy="-2.5em" font-size="0.7em" id='Fiber-long-0'> </text>
    <text x="100" y="180" text-anchor="begin" dx="15" dy="-1.5em" font-size="0.7em" id='Fiber-long-1'> </text>
    <text x="100" y="180" text-anchor="begin" dx="15" dy="-0.5em" font-size="0.7em" id='Fiber-long-2'> </text>
    <g id='Fiber-pic' opacity="0" >
      <image xlink:href="images/fiber1.jpg" x="225" y="65" width="85" height="56.14334"/>
      <image xlink:href="images/fiber2.jpg" x="300" y="65" width="85" height="56.14334"/>
    </g>
    <path opacity="0" onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id='Fiber-hidden'/>
</g>
<g id="Fragment" transform='translate(0,74.8720009615417)'>
    <rect width="100" height="66.6477965664068" fill="#aadedc" opacity="0.8" onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id="Fragment-rect"/>
    <path stroke="#aadedc" id='Fragment-path' class='rolled'/>
    <text x="100" y="33.3" text-anchor="begin" dx="10" dy="0.33em" id='Fragment-text'>Fragments</text>
    <text x="100" y="33.3" text-anchor="begin" dx="20" dy="40" font-size="2em" id='Fragment-pct'> </text>
    <text x="100" y="143.3" text-anchor="begin" dx="15" dy="-2.5em" font-size="0.7em" id='Fragment-long-0'> </text>
    <text x="100" y="143.3" text-anchor="begin" dx="15" dy="-1.5em" font-size="0.7em" id='Fragment-long-1'> </text>
    <text x="100" y="143.3" text-anchor="begin" dx="15" dy="-0.5em" font-size="0.7em" id='Fragment-long-2'> </text>
    <g id='Fragment-pic' opacity="0" >
      <image xlink:href="images/fragment1.jpg" x="305" y="30" width="85" height="56.14334"/>
    </g>
    <path opacity='0' onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id='Fragment-hidden'/>
  </g>
  <g id="Foam" transform='translate(0,44.3793041447273)'>
    <rect width="100" height="30.4926968168144" fill="#01b29F" opacity="0.8" onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id="Foam-rect"/>
    <path stroke='#0b516b' id='Foam-path' class='rolled'/>
    <text x="100" y="18" text-anchor="begin" dx="10" dy="0.33em" id='Foam-text'>Foams</text>
    <text x="100" y="18" text-anchor="begin" dx="20" dy="40" font-size="2em" id='Foam-pct'> </text>
    <text x="100" y="128" text-anchor="begin" dx="15" dy="-2.5em" font-size="0.7em" id='Foam-long-0'> </text>
    <text x="100" y="128" text-anchor="begin" dx="15" dy="-1.5em" font-size="0.7em" id='Foam-long-1'> </text>
    <text x="100" y="128" text-anchor="begin" dx="15" dy="-0.5em" font-size="0.7em" id='Foam-long-2'> </text>
    <g id='Foam-pic' opacity="0" >
      <image xlink:href="images/foam.jpg" x="205" y="15" width="85" height="56.14334"/>
    </g>
    <path opacity='0' onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id='Foam-hidden'/>
  </g>
  <g id="Film" transform='translate(0,31.2305781106032)'>
    <rect width="100" height="13.148726034124" fill="#0b516b" opacity="0.8" onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id="Film-rect"/>
    <path stroke='#0b516b' id='Film-path' class='rolled'/>
    <text x="100" y="6.5" text-anchor="begin" dx="10" dy="0.33em" id='Film-text'>Films</text>
    <text x="100" y="6.5" text-anchor="begin" dx="20" dy="40" font-size="2em" id='Film-pct'> </text>
    <text x="100" y="116.5" text-anchor="begin" dx="15" dy="-2.5em" font-size="0.7em" id='Film-long-0'> </text>
    <text x="100" y="116.5" text-anchor="begin" dx="15" dy="-1.5em" font-size="0.7em" id='Film-long-1'> </text>
    <text x="100" y="116.5" text-anchor="begin" dx="15" dy="-0.5em" font-size="0.7em" id='Film-long-2'> </text>
    <g id='Film-pic' opacity="0" >
      <image xlink:href="images/film1.jpg" x="225" width="85" height="56.14334"/>
      <image xlink:href="images/film2.jpg" x="305" width="85" height="56.14334"/>
    </g>
    <path opacity='0' onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id='Film-hidden'/>
  </g>
  <g id="Bead" transform='translate(0,25)'>
    <rect width="100" height="6.23057811060324" fill="#4ebec2" opacity="0.8" onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id="Bead-rect"/>
	  <path stroke='#4ebec2' id='Bead-path' class='rolled'/>
    <text x="100" y="-12.5" text-anchor="begin" dx="10" dy="0.33em" id='Bead-text'>Beads</text>
    <text x="100" y="-12.5" text-anchor="begin" dx="20" dy="40" font-size="2em" id='Bead-pct'> </text>
    <text x="100" y="95" text-anchor="begin" dx="15" dy="-2.5em" font-size="0.7em" id='Bead-long-0'> </text>
    <text x="100" y="95" text-anchor="begin" dx="15" dy="-1.5em" font-size="0.7em" id='Bead-long-1'> </text>
    <text x="100" y="95" text-anchor="begin" dx="15" dy="-0.5em" font-size="0.7em" id='Bead-long-2'> </text>
    <g id='Bead-pic' opacity="0" >
      <image xlink:href="images/bead1.jpg" x="250" y="-18" width="85" height="56.14334"/>
      <image xlink:href="images/pellets2.jpg" x="335" y="-18" width="85" height="56.14334"/>
    </g>
    <path opacity='0' onmouseover='unRoll(evt)' onmouseout='rollUp(evt)' id='Bead-hidden'/>
  </g>
  <g id='axes' transform='translate(-5,25)'>
    <path d="M-3 0 h3 v400 h-3" stroke='black' fill='none' stroke-width='1.5'/>
    <text text-anchor="end" dx="-0.3em" dy="0.33em" >100</text>
    <text text-anchor="middle" dy="-1em" transform="translate(0,200) rotate(-90)">Mean relative abundance (%)</text>
    <text y="400" text-anchor="end" dx="-0.3em" dy="0.33em">0</text>
  </g>
</g> 
  <script type="text/ecmascript"><![CDATA[
  var initialRolled = true;
    function init(evt){
    if ( window.svgDocument == null ) {
      svgDoc = evt.target.ownerDocument;
    }
      for (pointer in pointers){
        document.getElementById(pointer + '-path').setAttribute('d',pointers[pointer]['small'])
        document.getElementById(pointer + '-hidden').setAttribute('d',pointers[pointer]['small'])
      }
      unRoll(null);
    }
	  var pointers = {{{pointers-json}}}
	  function unRoll(evt){
	    
	    if (evt === null){
	      var id = 'Fiber';
	    } else {
	      var id = evt.target.getAttribute('id').split('-')[0];
	      if (initialRolled === true){
	        rollUp(null);
	        initialRolled = false;
	      }
	    }
      
	  	document.getElementById(id+"-path").setAttributeNS(null,"class","unrolled");
	  	document.getElementById(id+"-path").setAttribute('d',pointers[id]['large'])
      document.getElementById(id+"-pic").setAttribute('opacity','1');
      document.getElementById(id+"-hidden").setAttribute('d',pointers[id]['large'])
      document.getElementById(id+"-text").firstChild.data = pointers[id]['name'];
      document.getElementById(id+"-pct").firstChild.data = pointers[id]['percentage'];
      document.getElementById(id+"-long-0").firstChild.data = pointers[id]["longtext"][0];
      document.getElementById(id+"-long-1").firstChild.data = pointers[id]["longtext"][1];
      document.getElementById(id+"-long-2").firstChild.data = pointers[id]["longtext"][2];
	  }
	  function rollUp(evt){
      if (evt === null){
	      var id = 'Fiber';
	    } else {
	      var id = evt.target.getAttribute('id').split('-')[0];
	    }
      document.getElementById(id+"-pic").setAttribute('opacity','0');
	  	document.getElementById(id+"-path").setAttributeNS(null,"class","rolled");
	  	document.getElementById(id+"-path").setAttribute('d',pointers[id]['small'])
      document.getElementById(id+"-hidden").setAttribute('d',pointers[id]['small'])
      document.getElementById(id+"-pct").firstChild.data = ' ';
      document.getElementById(id+"-text").firstChild.data = id+'s';
      document.getElementById(id+"-long-0").firstChild.data = " ";
      document.getElementById(id+"-long-1").firstChild.data = " ";
      document.getElementById(id+"-long-2").firstChild.data = " ";
	  }
	  ]]></script>
</svg>