<div id="conclusionSection" class="sectionContainer">
	<div class="left">
  	<div id="conclusionText" class="text">
  		<p>{{{conclusion-p1}}}</p>
  	</div>
	</div>
	
	<div class="right">
		<div id="piper" class="photo">
			<img src="images/Piper.jpg" alt="Piping Plover" title="Piping Plover. Photo by Jim Hudgins/USFWS."/>
		</div>
	</div>

</div>
