<div id="envHazardsSection" class="sectionContainer">
	
	<div class="left">
  	<div id="envHazardstext" class="text">
  		<h2>{{{envHazards-p1}}}</h2>
  		<ul>
  			<li>{{{envHazards-p2}}}</li>
  			<li>{{{envHazards-p3}}}</li>
  			<li>{{{envHazards-p4}}}</li>
  		</ul>
  	</div>
  	

  	
	</div>
	
	<div class="right">
		<div id="mpsamplingPic" class="photo">
			<img src="images/MexicoBay_JimBodenstab_July2011-1200DPI.jpg" alt="Fish caught in Lake Ontario with plastic obstruction. Photo credit: Jim Bodenstab"/>
		</div>
	</div>
	
</div>
