<div id="envHazardsSection" class="sectionContainer">
	
	<div class="left">
  	<div id="envHazardstext" class="text">
  		<h2>{{{envHazards-p1}}}</h2>
  		<ul>
  			<li>{{{envHazards-p2}}}</li>
  			<li>{{{envHazards-p3}}}</li>
  			<li>{{{envHazards-p4}}}</li>
  		</ul>
  	</div>
  	

  	
	</div>
	
	<div class="right">
		<div id="coaster" class="photo">
			<img src="images/Coaster.jpg" alt="Male coaster brook trout." title="Male coaster brook trout reared at Iron River National Fish Hatchery in Wisconsin. Photo by Katie Steiger-Meister/USFWS"/>
		</div>
	</div>
	
</div>
