<div id="envHazardsSection" class="sectionContainer sleep">
	<div id="envHazardstext", class="text">
		<h2>{{{envHazards-title}}}</h2>
		<h3>{{{envHazards-p1}}}</h3>
		<ul><li>{{{envHazards-p2}}}</li></ul>
		<ul><li>{{{envHazards-p3}}}</li></ul>
		<ul><li>{{{envHazards-p4}}}</li></ul>
	</div>
</div>
