<div id="figure3Section" class="sectionContainer">

	<div id="figure3Text" class="text">
		<p>{{{ landUse-p1 }}}</p>
		<p>{{{ landUse-p2 }}}</p>
	</div> 
	
	<div class="figure" id="landUseFig">
	  <object id="landUseSVG" type="image/svg+xml" data="{{ landUseFig }}">
    </object>
  </div>
  
  <div id="figure3Text2" class="text">
    <p>{{{ landUse-p3 }}}</p>
  </div>
  
</div>
