<div id="figure1Section" class="sectionContainer">
	
	<div class="left">
		<div class="text">
			<p>{{{ relAbundance-intro1 }}}</p>
    		<p>{{{ relAbundance-p1 }}}</p>
    		<p>{{{ relAbundance-p2 }}}</p>
  		</div>
	</div>
	
	<div class="right">
		<div id="mpsamplingPic" class="photo">
			<img src="images/mpsampling.jpg" alt="Microplastics Sampling" title="Microplastic sample, Photo by: State University of New York Fredoni Lab"/>
		</div>
	</div>
	
  <div class="text">
    <p>{{{ relAbundance-p3 }}}</p>
  </div>
	 
	<div class="figure">
	  <object id="relativeAbundanceSVG" type="image/svg+xml" data="{{ relativeAbundanceFig }}">
    </object> 
  </div>
</div>
