<div id="figure1Section" class="sectionContainer sleep">
	<div class="text">
		<h2 class="title">{{{ relAbundance-title }}}</h2>
	</div>
	
	<div class="left">
		<div class="text">
			<p>{{{ relAbundance-intro1 }}}</p>
    		<p>{{{ relAbundance-p1 }}}</p>
    		<p>{{{ relAbundance-p2 }}}</p>
  		</div>
	</div>
	
	<div class="right">
		<div id="mpsamplingPic" class="photo">
			<img src="images/mpsampling.jpg" alt="Microplastics Sampling"/>
		</div>
	</div>
	 
	<div class="figure">
	  <object id="relativeAbundanceSVG" type="image/svg+xml" data="{{ relativeAbundanceFig }}">
    </object> 
  </div>
</div>
