<div id="subjectContainer">

	<div class="subject" id="fish">
	  <div id="fishPicContainer">
    	<div class="picSide" id="fishPic">
    		<img src="../images/fish.png"/>
    	</div>
		</div>
		<div id="fishStat1Container">
  		<div class="statSide" id="fishStat1">
  			<p>{{{envEffects-fish1}}}</p>
  			<h1 class="bigNumber">{{{envEffects-fish2}}}</h1>
  			<p>{{{envEffects-fish3}}}</p>
  		</div>
		</div>
	</div>
	
	<div class="subject" id="oyster">
	  <div id="oysterPicContainer">
  		<div class="picSide" id="oysterPic">
  			<img src="../images/oyster.png"/>
  		</div>
		</div>
		<div id="oysterStatContainer">
    	<div class="statSide">
    		<h1 class="bigNumber">{{{envEffects-oysters1}}}</h1>
    		<p>{{{envEffects-oysters2}}}</p>
    	</div>
		</div>
		<div id="oysterStat2Container">
  		<div class="statSide" id="fishStat2">
  			<h1 class="bigNumber">{{{envEffects-oysters3}}}</h1>
  			<p>{{{envEffects-oysters4}}}</p>
  		</div>
		</div>
	</div>
	
	<div class="subject" id="stream">
	  <div id="streamPicContainer">
  		<div class="picSide" id="streamPic">
  			<img src="../images/streamicon.png"/>
  		</div>
		</div>
		<div id="streamStatContainer">
    	<div class="statSide">
			<p>{{{envEffects-stream1}}}</p>
    		<h1 class="bigNumber">{{{envEffects-stream2}}}</h1>
    		<p>{{{envEffects-stream3}}}</p>
    	</div>
		</div>
		<div id="streamStat2Container">
  		<div class="statSide" id="streamStat2">
  			<h1 class="bigNumber">{{{envEffects-stream4}}}</h1>
  			<p>{{{envEffects-stream5}}}</p>
  		</div>
		</div>
	</div>
	
	<div class="subject" id="lake">
	  <div id="lakePicContainer">
    	<div class="picSide" id="lakePic">
    		<img src="../images/greatlakes.png"/>
    	</div>
		</div>
		<div id="lakeStatContainer">
  		<div class="statSide" id="lakeStat1">
  			<h1 class="bigNumber">{{{envEffects-lake1}}}</h1>
  			<p>{{{envEffects-lake2}}}</p>
  		</div>
		</div>
	</div>
	
	

</div>