<div id="figure3Section" class="sectionContainer sleep">

	<div class="text">
	
		<p>{{ landUse-intro1 }}</p>
	
	</div>

	<div class="figure3Text text">
	
		<p>{{ landUse-p1 }}</p>
		
		<p id="first">{{ landUse-intro }}</p>
		
		<p id="second" class="gone">{{ landUse-p2 }}</p>
		
	</div> 
	

	<div class="figure sleep" id="landUseFig">
	  <object id="landUseSVG" type="image/svg+xml" data="{{ landUseFig }}">
    	</object>
  	</div>
  
  	<div class="text">
		<p>{{ landUse-title }}</p>
	</div>

</div>
