<div class="center">

	<div class="figure3Text text">
		<h3 class="title">{{ landUse-title }}</h3>
		<p id="first">{{ landUse-intro }}</p>
		<p id="second" class="sleep">{{ landUse-p1 }}</p>
	</div> 
	
	<div class="figure sleep" id="landUseFig">
	  <object type="image/svg+xml" data="{{ landUseFig }}">
    </object>
  </div>

</div>
