<div class="center">

	<div class="text">
		<h3>{{{envEffects-title}}}</h3>
		<h3>{{{envEffects-p1}}}</h3>
	</div>


	<div id="fish" class="subject sleep">

		<div class="oneStat">
			<p>{{{envEffects-fish1}}}</p>
			<h1 class="bigNumber">{{{envEffects-fish2}}}</h1>
			<p>{{{envEffects-fish3}}}</p>
		</div>
		
		<div class="pic">
			<img src="images/fish.png" alt="Fish Picture"/>
		</div>

	</div>
	
	<div id="oyster" class="subject sleep">

		<div class="twoStat">
			<h1 class="bigNumber">{{{envEffects-oysters1}}}</h1>
			<p class="spacer">{{{envEffects-oysters2}}}</p>
		
			<h1 class="bigNumber">{{{envEffects-oysters3}}}</h1>
			<p>{{{envEffects-oysters4}}}</p>
		</div>
		
		<div class="pic">
			<img src="images/oyster.png" alt="Oyster Picture"/>
		</div>

	</div>
	
	<div id="stream" class="subject sleep">

		<div class="twoStat">
			<p>{{{envEffects-stream1}}}</p>
			<h1 class="bigNumber">{{{envEffects-stream2}}}</h1>
			<p class="spacer">{{{envEffects-stream3}}}</p>
		
			<h1 class="bigNumber">{{{envEffects-stream4}}}</h1>
			<p>{{{envEffects-stream5}}}</p>
		</div>
		
		<div class="pic">
			<img src="images/streamicon.png" alt="Stream Picture"/>
		</div>

	</div>
	
	<div id="lakes" class="subject sleep">

		<div class="oneStat">
			<h1 class="bigNumber">{{{envEffects-lake1}}}</h1>
			<p>{{{envEffects-lake2}}}</p>
		</div>
		
		<div class="pic">
			<img src="images/greatlakes.png" alt="Great Lakes Picture"/>
		</div>

	</div>

</div>
