<div id="subjectContainer">

	<div class="subject" id="fish">
	  <div id="fishPicContainer">
    	<div class="picSide" id="fishPic">
    		<img src="../images/fish.png"/>
    	</div>
		</div>
		<div id="fishStat1Container">
  		<div class="statSide" id="fishStat1">
  			<p>Particles present in</p>
  			<h1 class="bigNumber">12%</h1>
  			<p>of freshwater fish</p>
  		</div>
		</div>
		<div id="fishStat2Container">
  		<div class="statSide" id="fishStat2">
  			<p>Scary stat</p>
  			<h1 class="bigNumber">9,000</h1>
  			<p>number</p>
  		</div>
		</div>
	</div>
	
	<div class="subject" id="oyster">
	  <div id="oysterPicContainer">
  		<div class="picSide" id="oysterPic">
  			<img src="../images/oyster.png"/>
  		</div>
		</div>
		<div id="oysterStatContainer">
    	<div class="statSide">
    		<h1 class="bigNumber">50</h1>
    		<p>particles per serving of  commercially-cultured oysters</p>
    	</div>
		</div>
	</div>
	
	

</div>