<p><a href="https://www.doi.gov/" target="_blank">{{{footer-text1}}}</a> <a href="https://www.usgs.gov/" target="_blank">{{{footer-text2}}}</a></p>
<p>URL: {{{footer-text3}}}</p>
<p>Contact Information: <a href="#">{{{footer-text4}}}</a></p>