<p><a href="https://www.doi.gov/" target="_blank">{{{footerURL1}}}</a> | <a href="https://www.usgs.gov/" target="_blank">{{{footerURL2}}}</a></p>
<p>URL: {{{footerSiteURL}}}</p>
<p>Contact Information: <a href="#">{{{footerContact}}}</a></p>