<!-- BEGIN USGS Header Template --> 

			<div id="usgscolorband">

				<div id="usgsheader">

					<div id="usgsidentifier">
						<a href="http://www.usgs.gov/" target="_blank"><img src="images/usgslogo.jpg" alt="USGS - science for a changing world" title="U.S. Geological Survey Home Page"/></a>
					</div><!--usgsidentifier-->

					<img class="banner" src="images/banner.png" alt="banner"/>

					<div id="usgsccsabox">

						<div id="usgsccsa">
							<a href="http://www.usgs.gov/">USGS Home</a>
							<br /><a href="http://answers.usgs.gov/cgi-bin/gsanswers?tmplt=2">Contact USGS</a>
							<br /><a href="http://search.usgs.gov/">Search USGS</a>
							<br />
						</div><!--usgsccsa-->

					</div><!--usgsccsabox-->

				</div><!--usgsheader-->
			</div><!--colorband-->
		<div id="socialMedia">
       <div class="p-share">
      <div>
        <a href="http://www.facebook.com/sharer.php?src=bm&u={{ permalink }}&t={{ title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-facebook"></i></a>
        <a href="http://twitter.com/intent/tweet?url={{ permalink }}&text={{ title }}&tw_p=tweetbutton" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-twitter"></i></a>
        <a href="https://plus.google.com/share?url={{ permalink }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-google-plus"></i></a>
        <a href="https://www.reddit.com/submit?url={{ permalink }}&title={{ title }}" onclick="window.open(this.href, 'PCwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;"><i class="fa fa-reddit-alien" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
<!-- END USGS Header Template -->


