<div class="bg">
	<div class="bgContent">
		<h1>{{ welcome }}</h1>
		<p>{{ welcome-subnote1 }}</p>
		<p>[Social Media Icons]</p>
		
	</div>
</div>

<div class="sectionContainer">
	<div class="text">
		<p>{{ welcome-p1 }}</p>
	</div>
</div>
