<div class="bg">
	<div class="bgContent">
		<h1>{{ welcome }}</h1>
		<p>Catchy phrase for consideration</p>
		<p>Our Names?</p>
		<p>Social Media Icons?</p>
		
	</div>
</div>

<div class="sectionContainer">
	<div class="text">
		<p>{{ welcome-p1 }}</p>
		<p>{{ welcome-p2 }}</p>
	</div>
</div>
