<div id="referenceBox">
	<div id="referenceBoxContent">
		<div id="referenceTitle">
			<h3>References</h3>
			<div id="arrow"></div>
		</div>
		<div id="referencePanels">
			<div class="panel">
				<p>{{{ref1}}}</p>
			</div>
			<div class="panel">
				<p>{{{ref2}}}</p>
			</div>
			<div class="panel">
				<p>{{{ref3}}}</p>
			</div>
			<div class="panel">
				<p>{{{ref4}}}</p>
			</div>
			<div class="panel">
				<p>{{{ref5}}}</p>
			</div>
		</div>
	</div>
</div>