<div id="referenceBox">
	<div id="referenceBoxContent">
		<div id="referenceTitle">
			<h3>References</h3>
			<div id="arrow"></div>
		</div>
		<div id="referencePanels">
			<div class="panel">
			  <p><a name="ref1">{{{ref1}}}</a></p>
			</div>
			<div class="panel">
				<p><a name="ref2">{{{ref2}}}</a></p>
			</div>
			<div class="panel">
				<p><a name="ref3">{{{ref3}}}</a></p>
			</div>
			<div class="panel">
				<p><a name="ref4">{{{ref4}}}</a></p>
			</div>
			<div class="panel">
				<p><a name="ref5">{{{ref5}}}</a></p>
			</div>
		</div>
	</div>
</div>
